<div  class="align-self:center" >  <h2>{{title}}</h2> </div>
 <ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link active" routerLink="/bakery">Computer Accesories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/juice">Phones & Accesories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/restaurant">Restaurant Equipment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/tea">Tea and Service Equipent</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="/wine">Wine</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/phones">Phones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/para">Sports Paraphillia </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/women">Womens Sports  Equipent </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/sports">Tea and Service Equipent</a>
  </li></ul>






<router-outlet></router-outlet>
